# Looks for a new version of AtHome 5 minutes after boot, then 5 minutes after each check ends.
[Unit]
Description=AtHome automatic update check

[Timer]
OnBootSec=5min
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
